{{ 'policy.css' | asset_url | stylesheet_tag }}

{% style %}
  [data-section-id="{{ section.id }}"] {
    --background-color: {{ section.settings.background_color }};
    --text-color: {{ section.settings.text_color }};
    --light-text-color: {{ section.settings.light_text_color }};
    background-color: var(--background-color);
    color: var(--text-color);
      {% if section.settings.margin-top %}
          --section-gap-top: {{ section.settings.margin-top }}px;
      {% endif %}

      {% if section.settings.margin-bottom %}
          --section-gap-bottom: {{ section.settings.margin-bottom }}px;
      {% endif %}
  }
  @media (max-width: 899px) {
    [data-section-id="{{ section.id }}"] {
      {% if section.settings.margin-top-mobile %}
          --section-gap-top: {{ section.settings.margin-top-mobile }}px;
      {% endif %}

      {% if section.settings.margin-bottom-mobile %}
          --section-gap-bottom: {{ section.settings.margin-bottom-mobile }}px;
      {% endif %}
    }
  }
{% endstyle %}

<div data-section-id="{{ section.id }}">
  <div class="policy-wrapper">
    {% assign has_policy_heading = false %}
    {% for block in section.blocks %}
      {% if block.type == 'heading' and block.settings.heading != blank %}
        {% assign has_policy_heading = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if has_policy_heading %}
      <div class="policy-navigation">
        {% for block in section.blocks %}
          {% if block.type == 'heading' and block.settings.heading != blank %}
            <a
              href="#policy-group-{{ block.id }}"
              class="policy-navigation__link"
              data-target="policy-group-{{ block.id }}"
            >
              {{ block.settings.heading }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="policy-content{% if has_policy_heading == false %} policy-content-full-width{% endif %}">
      {% if section.settings.heading != blank %}
        <h2 class="policy-heading hero__title">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="policy-detail-content">
        {% for block in section.blocks %}
          {% if block.type == 'heading' %}
            <h3 id="policy-group-{{ block.id }}" class="policy-group-heading">{{ block.settings.heading }}</h3>
          {% elsif block.type == 'text' %}
            <div class="policy-text">{{ block.settings.text }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('.policy-navigation__link');
    const sections = document.querySelectorAll('.policy-group-heading');

    if (!navLinks.length || !sections.length) return;

    // Navigation Click
    navLinks.forEach((link) => {
      link.addEventListener('click', (e) => {
        e.preventDefault();

        const target = document.getElementById(link.dataset.target);

        if (!target) return;

        const offset = 120;

        window.scrollTo({
          top: target.offsetTop - offset,
          behavior: 'smooth',
        });

        navLinks.forEach((item) => item.classList.remove('active'));

        link.classList.add('active');
      });
    });

    function updateActiveSection() {
      const triggerPoint = window.innerHeight * 0.5;

      let activeSection = sections[0];

      // If user is at bottom of page
      if (window.innerHeight + window.scrollY >= document.documentElement.scrollHeight - 10) {
        activeSection = sections[sections.length - 1];
      } else {
        sections.forEach((section) => {
          const rect = section.getBoundingClientRect();

          if (rect.top <= triggerPoint) {
            activeSection = section;
          }
        });
      }

      navLinks.forEach((link) => {
        link.classList.remove('active');

        if (link.dataset.target === activeSection.id) {
          link.classList.add('active');
        }
      });
    }

    let ticking = false;

    function handleScroll() {
      if (!ticking) {
        window.requestAnimationFrame(() => {
          updateActiveSection();
          ticking = false;
        });

        ticking = true;
      }
    }

    window.addEventListener('scroll', handleScroll);
    window.addEventListener('resize', updateActiveSection);

    updateActiveSection();
  });
</script>

{% schema %}
{
  "name": "policy",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "light_text_color",
      "label": "Light text Color",
      "default": "#BFBFBF"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 140,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 140,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    },
    {
      "type": "header",
      "content": "Section spacing mobile"
    },
    {
      "type": "range",
      "id": "margin-top-mobile",
      "min": 0,
      "max": 140,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom-mobile",
      "min": 0,
      "max": 140,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "policy",
      "category": "Custom"
    }
  ]
}
{% endschema %}
