{{ 'SECTION-NAME.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobi }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobi }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} section-main-box SECTION-NAME-main" {{ section.shopify_attributes }}>
  <div class="page-width">

    {%- comment -%} ===== SECTION HEADING ===== {%- endcomment -%}
    {% if section.settings.heading != blank or section.settings.sec_text != blank %}
      <div class="sec-head text-align-{{ section.settings.text_align }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {% if section.settings.heading != blank %}
          <h2 class="sec-title">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.sec_text != blank %}
          <div class="sec-text">{{ section.settings.sec_text }}</div>
        {% endif %}
      </div>
    {% endif %}

    {%- comment -%} ===== SECTION BODY ===== {%- endcomment -%}
    <div class="SECTION-NAME-body">

      {% for block in section.blocks %}
        {% case block.type %}

          {% when 'BLOCK-TYPE' %}
            <div class="SECTION-NAME-item" {{ block.shopify_attributes }}>
              {%- comment -%} block content here {%- endcomment -%}
            </div>

        {% endcase %}
      {% endfor %}

    </div>

    {%- comment -%} ===== BUTTON ===== {%- endcomment -%}
    {%- if section.settings.button_label != blank -%}
      <div class="btns-wrapper">
        <a
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          class="more-btn button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
        >
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}

  </div>
</div>

{% schema %}
{
  "name": "SECTION NAME",
  "tag": "section",
  "class": "SECTION-NAME-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Section heading"
    },
    {
      "type": "richtext",
      "id": "sec_text",
      "label": "Content",
      "default": "<p>Add section content here</p>"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Outline button style"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 60
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Settings For Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobi",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobi",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "BLOCK-TYPE",
      "name": "BLOCK NAME",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Block heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Block content here</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SECTION NAME"
    }
  ]
}
{% endschema %}
